#Title{
    position: absolute;
    left: 0px;
    right: 5px;
    top: 0px;
    height: 55px;
    background-color: rgb(255, 255, 255);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

h1 {
    position: absolute;
    width: 100%;
    top: -15px;
    text-align: center;
  }


#Map{
    position: absolute;
    left: 0px;
    top: 55px;
    height:698px;
    width: 100%;
    z-index: 1;
}



/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
  /* ////////////////////////////////////////////////Section liée au Sidebar////////////////////////////////////////////*/


  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

.sidebar {
    height: 65%;
    margin-left: 0px;
    margin-right: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0s;
    padding-top: 60px;
    border-bottom-right-radius: 10px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.0s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 26px;
    margin-left: 50px;
  }
  
  .openbtn {
    margin-left: 5px;
    font-size: 26px;
    cursor: pointer;
    background-color: #111;
    color: white;
    border: none;
    position: absolute;
    top: 1px;
    left: 5px;
    bottom: 2px;
    z-index: 50;
    border-radius: 10px;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .0s;
    padding: 16px;
  }
  


/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* ////////////////////////////////////////////////Section liée à l'onglet Fond de carte//////////////////////////////////////////////*/


  button.OpenFdc {
    cursor: pointer;
    background-color: #111;
    border: none;
    position: relative;
    z-index: 50;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.0s;
    float: left;
  }

  a.OpenFdc{
    color: black;
  }
  a.OpenFdc:hover {
    color: black;
  }

  .OpenFdc:hover {
    color: #f1f1f1
  }

  .OuvrirFdc {
    position: relative;
    height: 0px;
    overflow-x: hidden;
   
  }
  #fdc{
    height: 0px;
    z-index: 100;
    margin-top: -10px;
    border-radius: 5px;
  }


  

 button.OuvrirImg_sat{ 
 width: 105px;
 font-size: small;
 border-radius: 5px;
 margin-top: 3px;
 border-width: 1px;
 cursor: pointer;
 }
.OuvrirImg_sat:hover{
  background-color: rgb(107, 107, 107);
  color: #f1f1f1;
}


 button.Img_osm{
  width: 105px;
  font-size: small;
  border-radius: 5px;
  margin-top: 3px;
  border-width: 1px;
  cursor: pointer;
 }
 .Img_osm:hover{
  background-color: rgb(107, 107, 107);
  color: #f1f1f1;
}

 button.Img_e{
  width: 105px;
  font-size: small;
  margin-right: 45px;
  border-radius: 5px;
  margin-top: 3px;
  border-width: 1px;
  cursor: pointer;
 }
 .Img_e:hover{
  background-color: rgb(107, 107, 107);
  color: #f1f1f1;
}


 button.Img_OsmCH{
  width: 105px;
  font-size: small;
  margin-right: 45px;
  border-radius: 5px;
  margin-top: 3px;
  border-width: 1px;
  cursor: pointer;
 }
 .Img_OsmCH:hover{
  background-color: rgb(107, 107, 107);
  color: #f1f1f1;
}

figure#img.img{
  padding: 0;
}

  /* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* ////////////////////////////////////////////////Section liée à l'onglet Données Thématiques////////////////////////////////////////////*/


  button.OpenDth {
    cursor: pointer;
    background-color: #111;
    border: none;
    position: relative;
    z-index: 50;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.0s;
    float: left;
  }

  a.OpenDth{
    color: black;
  }
  a.OpenDth:hover {
    color: black;
  }

  .OpenDth:hover {
    color: #f1f1f1
  }

  .OuvrirDth {
    position: relative;
    height: 0px;
    overflow-x: hidden;
    font-size: 15px;
    background-color: #f1f1f1;
  }

  p.a {
    margin-top: 10px ;
    margin-left: 10px;
  }


  #choix_theme{
    margin-left: 5px;
    margin-top: 10px;
    height: 40px;
    border-radius: 5px;
    width: 350px;
    text-align: center;
  }

  #theme_selectionner{
    position: relative;
    height: 200px;
    overflow-x: hidden;
    margin-top: 10px;
  }


/* ////////////////////////////////////////////////thématique liées à l'agriculture////////////////////////////////////////////*/

  #Opt_Agriculture{
    position: relative;
    height: 0px;
    overflow-y: auto;
    background-color: #f1f1f1;
    margin: 5px;
    margin-top: 0px;
    border-radius: 10px;
    text-align: center;
    font-size: medium;
    font-family: sans-serif;
  }

  #box_droite{
    position: absolute;
    height: 0px;
    width: 385px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 50;
    background-color: #f1f1f1;
    margin-top: 50px;
    margin-left: 1125px;
    border-radius: 5px;

  }

  #box_ndvi{
    position: absolute;
    height: 0px;
    width: 385px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 50;
    background-color: #f1f1f1;
    margin-top: 50px;
    margin-left: 1125px;
    border-radius: 5px;

  }

  #NDVIII {
    position: absolute;
    height: 400px;
    width: 350px;
    z-index: 100;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: opx;
    color: black;
    background-color: #f1f1f1;
    padding: 10px;
    }


a.close_box_droite{
  margin-left: 325px;
  color: black;
}

a.close_box_droite1{
  margin-left: 325px;
  color: black;
}

#box_droite_bas{
  position: absolute;
  height: 0px;
  width: 540px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 50;
  background-color: #f1f1f1;
  margin-top: 460px;
  margin-left: 970px;
  border-radius: 5px;

}

a.close_box_droite_bas{
margin-left: 510px;
color: black;
}

  #agriculture {
    position: absolute;
    height: 400px;
    width: 350px;
    z-index: 100;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: opx;
    color: black;
    background-color: #f1f1f1;
    padding: 10px;
    }

    #ndviii {
      position: absolute;
      height: 400px;
      width: 350px;
      z-index: 100;
      margin-top: 0px;
      margin-bottom: 10px;
      margin-left: 10px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: opx;
      color: black;
      background-color: #f1f1f1;
      padding: 10px;
      }


    #znes_agric1{
      position: relative;
      height: 200px;
      width: 345px;
      z-index: 50;
      color: black;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background-color: lightgray;
      text-align: center;
    }

    #znes_agric2{
      position: relative;
      height: 110px;
      width: 345px;
      z-index: 50;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      color: black;
      background-color: lightgray;
      font-size: small;
    }


    #znes_ndvi{
      position: relative;
      height: 200px;
      width: 345px;
      z-index: 50;
      color: black;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background-color: lightgray;
      text-align: center;
    }


    
  p#agricult{
    text-align: center; 
    margin: 0;
  }

  p#info_select{
    margin-top: -10px;
  }

  p#info_select1{
    margin-top: -10px;
  }

  p#supérficie_agr{
    margin-left: 10px;
    margin-top: 0px;
  }

  p#supérficie_viti{
    margin-left: 10px;
    margin-top: 0px;
  }

  p#Entite_geo{
    margin-top: 5px;
  }

  h4{
    text-align: center;
    margin-top: 0px;
  }

  label {
    display: inline-block;
    text-align: center;
    font-size: small;
    margin-top: 5px;
}


.checkmark {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

#Entite_geo{
  margin-bottom: 5px;
}

#indicateur_geo{
  margin-top: 20px;
  margin-bottom: 5px;
}

/* ////////////////////////////////////////////////thématique liées à la culture////////////////////////////////////////////*/

  #Opt_Culture{
    position: relative;
    height: 0px;
    overflow: hidden;
    background-color: #f1f1f1;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: medium;
    font-family: sans-serif;
  }

ul#checkbox_culture{
display: block;
text-align: left;
margin-left: 10px;
margin-top: 20px;
column-count: 2;
font-size: 12px;

}


/* ////////////////////////////////////////////////thématique liées à la démographie////////////////////////////////////////////*/

  #Opt_Demographie{
    position: relative;
    height: 0px;
    overflow: hidden;
    background-color: #f1f1f1;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: medium;
    font-family: sans-serif;
  }



  /* ////////////////////////////////////////////////thématique liées à la l'économie////////////////////////////////////////////*/

  #Opt_Economie{
    position: relative;
    height: 0px;
    overflow: hidden;
    background-color: #f1f1f1;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: medium;
    font-family: sans-serif;
  }


  /* ////////////////////////////////////////////////thématique liées à l'environnement////////////////////////////////////////////*/

  #Opt_Environnement{
    position: relative;
    height: 0px;
    overflow-y: auto;
    background-color: #f1f1f1;
    margin: 5px;
    margin-top: 0px;
    border-radius: 10px;
    text-align: center;
    font-size: medium;
    font-family: sans-serif;
  }
  
  ul#radiobox_envi{
    display: block;
    text-align: left;
    margin-left: 10px;
    margin-top: 20px;
    column-count: 2;
    font-size: 12px;
    
    }


  /* ////////////////////////////////////////////////thématique liées au territoire////////////////////////////////////////////*/

  #Opt_Territoire{
    position: relative;
    height: 0px;
    overflow-y: auto;
    background-color: #f1f1f1;
    margin: 5px;
    margin-top: 0px;
    border-radius: 10px;
    text-align: center;
    font-size: medium;
    font-family: sans-serif;
  }


  /* ////////////////////////////////////////////////thématique liées au tourisme////////////////////////////////////////////*/

  #Opt_Tourisme{
    position: relative;
    height: 0px;
    overflow: hidden;
    background-color: #f1f1f1;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: medium;
    font-family: sans-serif;
  }



/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* ////////////////////////////////////////////////Section liée à l'onglet Dessin et Mesures////////////////////////////////////////////*/
  
  button.OpenMD {
    cursor: pointer;
    background-color: #111;
    border: none;
    position: relative;
    z-index: 50;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.0s;
    float: left;
  }

  a.OpenMD{
    color: black;
    font-size: 25px;
  }
  a.OpenMD:hover {
    color: black;
  }

  .OpenMD:hover {
    color: #f1f1f1
  }

  .OuvrirMD {
    position: relative;
    height: 0px;
    font-size: 15px;
    overflow-x: hidden;
    background-color: #f1f1f1;
  }

  ::marker {
    list-style:none;
    color: lightgrey;
    background-color: lightgrey;
  }

  ul, li {
    margin: 5px;
    padding: 0;
    }
  

 button#Mesure_Distance_Act  {
  margin-left: 38px;
  border-radius: 5px;
  border-width: 1px;
 }  
    button#Mesure_Distance_Act:hover {
      background-color:#7c92cf;
    }
    

 button#Mesure_surface_Act  {
  margin-left: 48px;
  border-radius: 5px;
  border-width: 1px;
 } 
    button#Mesure_surface_Act:hover {
      background-color:#7c92cf;
}


 button#Marqueur_Act  {
  margin-left: 30px;
  border-radius: 5px;
  border-width: 1px;
 }
 button#Marqueur_Inact  {
  border-radius: 5px;
  border-width: 1px;
 }
  
    button#Marqueur_Act:hover {
      background-color:#7c92cf;
    }
    button#Marqueur_Inact:hover {
      background-color:#7c92cf;
    }

button#delete  {
      margin-left: 64px;
      border-radius: 5px;
      border-width: 1px;
     }


/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* ////////////////////////////////////////////////Section liée à l'onglet Impression////////////////////////////////////////////*/


  button.OpenImp {
    cursor: pointer;
    background-color: #111;
    border: none;
    position: relative;
    z-index: 50;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    transition: 0.0s;
    float: left;
  }



  a.closeImp{
    color: black;
    font-size: 25px;
  }
  a.closeImp:hover {
    color: black;
  }

  .closeImp:hover {
    color: #f1f1f1
  }

  .OuvrirImp {
    position: relative;
    height: 0px;
    font-size: 15px;
    overflow-x: hidden;
    background-color: #f1f1f1;
  }


  /* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* ////////////////////////////////////////////////Section liée à l'onglet Auteur/////////////////////////////////////////////////////*/

    
button.OpenDroits {
  cursor: pointer;
  background-color: #111;
  border: none;
  position: relative;
  z-index: 50;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.0s;
  float: left;
}

a.closeDroits{
  color: black;
  font-size: 25px;
}
a.closeroits:hover {
  color: black;
}

.closeDroits:hover {
  color: #f1f1f1
}

.OuvrirDroits {
  position: relative;
  height: 0px;
  font-size: 15px;
  overflow-x: hidden;
  background-color: #f1f1f1;
}

.Droits1{
  position: relative;
  background-color: #f1f1f1;
  margin: 10px;
  border-radius: 5px;
}

h5{
  padding-top: 5px;
  text-align: center;
  font-weight: bold;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

p#descr{
  font-size: 11pt;
  text-align: justify;
  margin: 10px;
}
