#Title{
    position: absolute;
    left: 0px;
    right: 5px;
    top: 0px;
    height: 55px;
    background-color: rgb(255, 255, 255);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

h1 {
    position: absolute;
    width: 100%;
    top: -15px;
    text-align: center;
  }


#Map{
    position: absolute;
    left: 0px;
    top: 55px;
    height:698px;
    width: 100%;
    z-index: 1;
}

/*
#Info{
    position: absolute;
    left: 365px;
    top: 600px;
    height: 145px;
    width: 850px;
    border-style:solid ;
    border-color: black;
    background-color: rgb(255, 255, 255);
}

#Visu_info1{
    position: absolute;
    left: 1225px;
    top: 140px;
    height: 297.5px;
    right: 5px;
    border-style:solid ;
    border-color: black;
    background-color: rgb(255, 255, 255);

}

#Visu_info2{
    position: absolute;
    left: 1225px;
    top: 447.5px;
    height: 297.5px;
    right: 5px;
    border-style:solid ;
    border-color: black;
    background-color: rgb(255, 255, 255);

}
*/
.sidebar {
    height: 90%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0s;
    padding-top: 60px;
    border-bottom-right-radius: 10px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.0s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    position: absolute;
    top: 2px;
    left: 5px;
    bottom: 2px;
    z-index: 50;
    border-radius: 10px;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .0s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  button.OpenFdc {
    cursor: pointer;
    background-color: #111;
    border: none;
    position: relative;
    z-index: 50;
    border-radius: 10px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.0s;
  }

  .OpenFdc:hover {
    color: #f1f1f1
  }

  .OuvrirFdc {
    position: relative;
    height: 0px;
    overflow-x: hidden;
    background-color: #f1f1f1;
  }

  a.closeFdc{
    position:absolute;
    top:-20px;
    right: 25px;
    font-size: 26px;
    margin-left: 50px;
    color: #f1f1f1;
    text-align: center;
  
  }
